<ng-include src="'views/menu.html'"></ng-include>

<div class="mainContainer" ng-controller="ArticleController as a" ng-init="a.init()">
    <div class="container" ng-model="articleList">
        <h5 align="center"> Find below articles from your subscriptions or
            <a href="" id="createArticleLink">create</a> a new article.
        </h5>
        <hr>
        <!-- Modal content-->
        <div id="createArticleDiv" hidden="hidden">
            <div class="form-group">
                <label for="articleTitle">Title:</label>
                <input id="articleTitle" required="required" ng-model="article.title">
            </div>
            <div class="form-group">
                <label for="compList">Target competency:</label>
                <select id="compList" ng-controller="CompetencyController" ng-model="$root.article.competency" required>
                    <option ng-repeat="c in competencyList" value="{{c.id}}">{{c.name}}</option>
                </select>
            </div>
            <div id="editor">
            </div>
            <button id="saveArticle" ng-click="a.create($root.article.competency, article.title, 'editor')">Save</button>
            <script src="js/markup/trumbowyg.min.js"></script>
            <script>
                $.trumbowyg.svgPath = 'js/markup/ui/icons.svg';
                $('#editor').trumbowyg();
            </script>
        </div>

        <ul>
            <li ng-repeat="it in articleList"><a href="#/article/{{it.id}}">{{it.title}}</a></li>
        </ul>
    </div>
    <script>
        $('#createArticleLink').on('click', function () {
            $('#createArticleDiv').slideToggle();
        });
    </script>
</div><!-- /container -->

