<ng-include src="'views/menu.html'"></ng-include>

<div class="mainContainer" ng-controller="TestQuestionController as tqc" ng-init="tqc.init()">

    <div class="container" ng-show="canCreate">
        <form ng-submit="tqc.create(testQuestion)">
            <div class="form-group">
                <label for="question">Question:</label>
                <input ng-model="testQuestion.question" class="form-control" id="question">
            </div>
            <fieldset class="scheduler-border">
                <legend class="scheduler-border">Answer options</legend>
                <div class="form-group">
                    <label for="correctAnswer">Correct answer:</label>
                    <input ng-model="testQuestion.correctAnswer" class="form-control" id="correctAnswer">
                </div>
                <div class="form-group">
                    <label for="firstIncorrect">First incorrect option:</label>
                    <input ng-model="testQuestion.firstIncorrect" class="form-control" id="firstIncorrect">
                </div>
                <div class="form-group">
                    <label for="secondIncorrect">Second incorrect option:</label>
                    <input ng-model="testQuestion.secondIncorrect" class="form-control" id="secondIncorrect">
                </div>
                <div class="form-group">
                    <label for="thirdIncorrect">Third incorrect option:</label>
                    <input ng-model="testQuestion.thirdIncorrect" class="form-control" id="thirdIncorrect">
                </div>
            </fieldset>
            <button type="submit" class="btn btn-default">Create</button>
        </form>
        <hr/>

        <div class="container" ng-model="testQuestionList">

            <ol>
                <li ng-repeat="q in testQuestionList">
                    <span>{{q.questionText}}</span>
                    <ul ng-repeat="op in q.options">
                        <li ng-if="op.correct" class="correct">{{op.text}}</li>
                        <li ng-if="!op.correct">{{op.text}}</li>
                    </ul>

                </li>
            </ol>

        </div>
    </div>
    <div class="container">
        Tests
    </div>
</div>
</div><!-- /container -->